{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container security-form">
    <div class="login-form">

        <h1>Registration</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            {{ form_widget(registrationForm.email, {'attr':{'class':'form form-control','placeholder':"email"}}) }}
            <br>
            {{ form_widget(registrationForm.firstName, {'attr':{'class':'form form-control','placeholder':"firstname"}}) }}
            <br>
            {{ form_widget(registrationForm.lastName, {'attr':{'class':'form form-control','placeholder':"lastname"}}) }}
            <br>
            {{ form_widget(registrationForm.plainPassword, {'attr':{'class':'form form-control','placeholder':"password"}}) }}
            <br>
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-block btn-primary">Register</button>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
