{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
<div class="container"> <br><br>
    <h1>Categories</h1> <br><br>
    <table class="table">
        <tr>
            <th>id</th>
            <th>category name</th>
            <th>action</th>
        </tr>
        {% for category in categories%}
            <tr>
                <td> {{ category.id}} </td>
                <td> {{ category.name}} </td>
                <td> 
                    <a href="{{ path('app_category_update', {'id':category.id}) }}">Update</a> |
                    <a href="{{ path('app_category_delete', {'id':category.id}) }}" class="text-danger">Delete</a>
                </td>
            </tr>
            {% else %}
            <p>No categories to display at the moment</p>
        {% endfor %}
    </table>
    <br>
    <a class="btn btn-outline-primary" href="{{ path('app_category_new') }}">Add a category</a>
</div>
{% endblock %}
